<div class="page-header">
	<h1>Thoughts</h1>
</div>
<div class="row-fluid">
	<div class="col-md-3">
		<div class="page-header">
			<h2>List</h2>
		</div>
		<div id="listContainer" ></div>
	</div>
	<div id="detailContainer" class="col-md-9"></div>
</div>