<div class="page-header">
	<h1>Thoughts</h1>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="page-header">
			<button id="addThoughtBtn" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
		</div>

		<div id="listContainer" ></div>
	</div>
	<div id="detailContainer" class="col-md-9"></div>
</div>