$desktop: "(min-width: 1200px)";
$desktopSmall: "only screen and (min-width: 980px) and (max-width: 1199px)";
$tabletPortrait: "only screen and (min-width: 768px) and (max-width: 979px)";
$tabletLandscape: "only screen and (min-width: 480px) and (max-width: 767px)";
$mobileAllSizes: "only screen and (max-width: 767px)";
$mobilePortrait: "only screen and (max-width: 479px)";

$main-color: #646464;
$overlay-color: #080808;
$navbar-color: #ff00ff;


//wizard
$navbarBackgroundHighlight: #ffffff;
$navbarBackground: darken($navbarBackgroundHighlight, 5%);
$navbarBorder: darken($navbarBackground, 12%);
$baseBorderRadius: 4px;
$grayLight: #999;
$successText: #468847;
$infoText: #3a87ad;

//datagrid
$tableBackgroundAccent: #f9f9f9; // for striping
$tableBackgroundAccentDark: darken($tableBackgroundAccent, 8%);
$textColor: #333333;
$tableBorder: #dddddd;