<div id="overlayArea" class="hide-overlay-area"></div>
<a href="https://bitbucket.org/modello/backbone-file-browser" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 5;" src="./img/forkme.png" alt="Fork me on BitBucket">
</a>
<div id="contentArea"></div>