<form id="thought-form" role="form">
    <div class="form-group">
        <label for="newUserName">Name</label>
        <input id="newUserName" class="form-control" placeholder="Your name">
    </div>

    <div class="form-group">
        <label for="newUserAge">Age</label>
        <input id="newUserAge" class="form-control" placeholder="Your Age">
    </div>
    <button type="submit" class="btn btn-default">Add User Data</button>
</form>